*{
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    border:border-box;
}

#navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

a{
    color: white;
    text-decoration: none;
}

.navlogo{
    height: 50px;
    width: 100px;
}

.logo{
    background-image: url("amazon_logo.png");
    height: 50px;
    width: 100%;
    background-size: cover;
    z-index: 1;
}

.border{
    border: 1.5px solid transparent;
}

.border:hover{
    border:1.5px solid white;
}


.first{
    color: #cccccc;
    font-size:0.85rem;
    margin-left: 15px;
}

.second{
    font-size:1rem;
    margin-left: 3px;
}

.navsearch{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: blue;
    width: 650px;
    height: 40px;
    border-radius: 4px;
}

.navsearch:hover{
    border: 1px solid orange;
    border: border-box;
}

.search-select{
    width: 50px;
    text-align: center;
    border-radius: 4px;
    height: 40px;
}

.search-input{
    width: 100%;
    height: 35px;
    border-radius: 4px;
}


span{
    font-size: 0.7rem;
}

.acc{
    font-size: 0.85rem;
    font-weight: 700;
}

.cart{
    font-weight: 700;
}

.secondbar{
    background-color: #222f3d;
    height: 40px;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
    font-size: 17px;
}

.anchor p{
    display: inline;
    margin-left: 15px;
}

.anchor{
    width: 70%;
}

.deals{
    font-size: 1rem;
    font-weight: 700;
}

.hero{
    background-image: url("hero_image.jpg");
    height: 350px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.herom{
    background-color: white;
    color: #0f1111;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:0.85 rem;
    width: 80%;
    margin-bottom: 25px;
}

.herom a{
    color: #007185;
}

.shopsec{
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    background-color: #e2e7e6;
}

.box{
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}

.boxc{
    margin-left: 1rem;
    margin-right: 1rem;
}

.boximg{
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

footer{
    margin-top: 15px;
}

.footpanel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.foot2{
    background-color: #222f3d;
    color: white;
    height: 500px;
    display: flex;
    justify-content: space-evenly;

}

ul{
    margin-top: 20px;
}

ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}

.panel3{
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.ama{
    background-image: url("amazon_logo.png");
    width: 100px;
    height: 50px;
    background-size: cover;

}

.panel4{
    background-color: #0f1111;
    color: white;
    height: 80px;
}

.op{
    font-size: 0.7rem;
    text-align: center;
    padding-top: 25px;
}

.op2{
    padding-top: 5px;
    font-size: 0.7rem;
    text-align: center;
}

.items h1{
    text-align: center;
    margin-top: 10px;
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #cccccc;
}

.btn{
    margin-left: 70%;
}